@keyframes waterFloat {
    0% {
        transform: translate(10%, 50%);
    }
    30% {
        transform: translate(5%, -70%);
    }
    70% {
        transform: translate(-5%, 60%);
    }

    100%{
        transform: translate(10%, 50%);
    }
}

@keyframes movebg {
    100% {
        background-position: 100% 100%;
    }
}