@include respond(phone-small) {
    .navbar {
        position: fixed;
        z-index: 500;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        // color: white;
        transition: all 0.3s ease;
        &__brand {
            transition: all 0.3s ease;
            display: flex;
            flex-direction: row;
            align-items: center;
            &-image {
                height: 3rem;
            }
            &-text {
                font-size: 2rem;
                font-weight: 500;
            }
        }
        &__nav {
            &-menu {
                position: absolute;
                top: 1.8rem;
                transition: all 0.1s ease;
                &,
                &::after,
                &::before {
                    z-index: 900;
                    border-radius: 100rem;
                    width: 2rem;
                    height: 0.2rem;
                    background-color: #000;
                }
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    transition: all 0.3s ease;
                }
                &::after {
                    top: 0.6rem;
                }
                &::before {
                    top: -0.6rem;
                }
            }
            &-checkbox {
                position: relative;
                z-index: 1000;
                height: 3rem;
                width: 3rem;
                opacity: 0;
                transform: translateX(-0.5rem);
            }
            &-checkbox:checked~&-menu {
                background-color: transparent;
                transform: rotate(90deg);
            }
            &-checkbox:checked~&-menu::after {
                transform: rotate(135deg);
                top: 0;
            }
            &-checkbox:checked~&-menu::before {
                transform: rotate(45deg);
                top: 0;
            }
            &-checkbox:checked~&-list {
                transform: translateX(0);
            }
            &-list {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                text-align: center;
                padding-top: 10rem;
                background-color: rgba($color: #fff, $alpha: 0.9);
                transform: translateX(-100vw);
                transition: all 0.3s ease-out;
                -webkit-backdrop-filter: blur(0.3rem);
                list-style-type: none;
                backdrop-filter: blur(0.3rem);
                &--link {
                    font-size: 1.4rem;
                    margin: 1rem 2em;
                    padding: 0.6rem;
                    text-align: left;
                    &>a {
                        color: black;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                    &:last-child {
                        background-color: rgba($color: lightgrey, $alpha: 0.5);
                        border-radius: 0.9rem;
                        width: fit-content;
                        flex-direction: row;
                        &>span>i {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    .hero {
        // background-image: radial-gradient(rgba(211, 211, 211, 0.99), white);
        // height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        // overflow-x: hidden;
        position: relative;
        &__text {
            padding-top: 10rem;
            &-heading {
                width: 96%;
                margin: auto;
                text-align: center;
                border-bottom: 0.2rem solid lightgrey;
                border-bottom-left-radius: 30%;
                border-bottom-right-radius: 30%;
                padding-bottom: 3rem;
                &>* {
                    padding: 0.5rem 0;
                }
                &-primary {
                    font-size: 8vw;
                }
                &-secondary {
                    font-size: 4vw;
                    font-weight: 500;
                }
            }
            &-social {
                padding: 1rem;
                &>a {
                    text-decoration: none;
                    color: unset;
                    font-size: 6vw;
                    transition: all 0.3s ease;
                    &:hover {
                        text-shadow: 0 0.3rem 0.6rem rgba($color: #000000, $alpha: 0.2);
                    }
                }
            }
            &-poweredby {
                margin-top: 3rem;
                &>h4 {
                    font-size: 3.6vw;
                    font-weight: 100;
                }
                &>a>img {
                    width: 70%;
                    height: auto;
                }
            }
        }
    }
    .features {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 2rem;
        margin: auto;
        &__title {
            text-align: center;
            &>h2 {
                font-size: 6vw;
            }
        }
        &__center {
            margin: 4rem;
            width: 30rem;
            height: 30rem;
            border-radius: 100%;
            background-image: radial-gradient(white, rgba(white, 0.1));
            box-shadow: 0 0 0.4rem rgba($color: #000000, $alpha: 0.1);
            &::after {
                content: "";
                position: absolute;
                width: 7rem;
                height: 7rem;
                background-image: url("../images/logo.png");
                background-color: rgba($color: #000000, $alpha: 0.2);
                background-size: contain;
                border-radius: 100%;
                margin-top: 50%;
                margin-left: 50%;
                transform: translate(-50%, -50%);
            }
            &::before {
                content: "";
                position: absolute;
                transform: translateY(-50%);
                width: 15rem;
                height: 15rem;
                background-size: cover;
                border-radius: 100%;
                margin-top: 50%;
                margin-left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
            &-card {
                z-index: 1;
                position: absolute;
                top: 60%;
                left: 5%;
                width: fit-content;
                user-select: none;
                &--head:hover~&--body {
                    opacity: 1;
                    transform: translateY(0);
                }
                &--head,
                &--body {
                    box-shadow: 0 0.3rem 0.6rem rgba($color: #000000, $alpha: 0.1);
                    padding: 1rem 2rem;
                    border-radius: 0.6rem;
                }
                &--head {
                    cursor: default;
                    background-color: white;
                }
                &--body {
                    z-index: 100;
                    position: absolute;
                    left: 0;
                    bottom: 100%;
                    background-color: white;
                    padding: 0.6rem;
                    border-radius: 0.6rem;
                    width: 100%;
                    opacity: 0;
                    transition: all 0.2s ease-in;
                    transform: translateY(-2rem);
                    &>p {
                        font-weight: 300;
                    }
                }
                &:nth-child(2) {
                    top: 10%;
                    left: 40%;
                }
                &:nth-child(3) {
                    top: 98%;
                    left: 50%;
                }
            }
        }
    }
    .roadmap {
        &__title {
            text-align: center;
            &>h2 {
                font-size: 6vw;
            }
        }
        &__map {
            display: flex;
            flex-direction: row;
            padding: 4rem 0;
            width: 96%;
            margin: auto;
            &-text {
                width: 60%;
                &-card {
                    width: 90%;
                    margin: 0.5rem;
                    border-radius: 0.6rem;
                    background-color: white;
                    box-shadow: 0 0 0.6rem rgba($color: #000000, $alpha: 0.1);
                    padding: 0.6rem;
                    &--list {
                        padding: 0 1rem;
                        list-style-type: circle;
                        list-style-position: inside;
                        &>li {
                            margin: 1.2rem 0;
                            font-weight: 300;
                        }
                    }
                }
            }
            &-line {
                width: 0.2rem;
                height: inherit;
                background-color: black;
                border-radius: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 0 1rem;
                &--dot {
                    border: 5px solid white;
                    width: 1.4rem;
                    height: 1.4rem;
                    background-color: grey;
                    border-radius: 100%;
                    margin-left: -0.6rem;
                    &::after {
                        content: "some date";
                        position: absolute;
                        margin-left: 3rem;
                        width: 4rem;
                    }
                    &:first-child {
                        transform: translateY(-2.6rem);
                        &::after {
                            content: "Q2 2021";
                        }
                    }
                    &:nth-child(2) {
                        transform: translateY(-2rem);
                        &::after {
                            content: "Q3 2021";
                        }
                    }
                    &:nth-child(3) {
                        transform: translateY(3rem);
                        &::after {
                            content: "Q4 2021";
                        }
                    }
                    &:nth-child(4) {
                        transform: translateY(2.6rem);
                        &::after {
                            content: "Q1 2022";
                        }
                    }
                }
            }
        }
    }
    .tokenomics {
        &__title {
            text-align: center;

            & > h2 {
                font-size: 6vw;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50vh;
        &__company {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-name {
                &>h4 {
                    font-size: 2rem;
                }
            }
            &-logo>img {
                height: 2.6rem;
            }
        }
        &__social {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            &>a {
                text-decoration: none;
                color: black;
                font-size: 8vw;
            }
        }
        &__copyright {
            &>p {
                color: grey;
                font-weight: 300;
            }
        }
    }
}